@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}

/* navigation */

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0);
}

.navbar-brand image {
  height: 2rem;
}

.navbar-nav li {
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link:hover {
  color: #ff6347
}

/* landing page */

.home-inner {
  background-image: url(img/neondesk.png)
}

#skills {
  background-color: transparent;
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}

.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1.6rem;
}

.caption h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1rem;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
}

/* Skills section */

.jumbotron {
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;
}

h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
}

.heading-underline {
  width: 4rem;
  height: .2rem;
  background-color: #ff6347;
  margin: 0 auto 2rem;
}

/* about */

.about img {
  width: 100%;
  border-radius: 50%;
}

blockquote .fas {
  color: #ff6347;
  padding: 1rem;
}

/* projects */

.project img {
  transition: transform .2s;
  width: 90%;
}
.project h3{
  padding-top: 2rem;
}
.dark {
  background-color: rgba(0,0,0,0.6);
  color: white;
  padding: 7rem 2rem;
}
.fixed {
  background-image: url(img/neondesk.png)
}

.project img:hover {
  transform: scale(1.2);
}

.project a button{
  border-color: #ff6347;
  border-width: small;
  border-radius: 0;
  padding: .5rem 1rem;
  font-size: 1.1rem;
}

.project a button{
  margin: .25rem;
  color: #ff6347;
  font-weight: 700;

}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/